Repository RealmKit/game, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @service/core, @service/domain, @service/app, @test/test, @test/itest, @doc, @ci, @deps

ci: GitGuardian not working, removing
  .github/workflows/security.yml
Labels: none

chore: Logging
  build.gradle.kts
  gradle/libs.versions.toml
  src/test/kotlin/dev/realmkit/hellper/spec/TestSpec.kt
Labels: repo

chore: Detekt Rules
  build.gradle.kts
  gradle/libs.versions.toml
Labels: repo

feature: PlayerValidator
  build.gradle.kts
  detekt-config.yml
  diktat-analysis.yml
  src/main/kotlin/dev/realmkit/game/domain/base/exception/problem/AccumulatedProblemException.kt
  src/main/kotlin/dev/realmkit/game/domain/base/exception/problem/ProblemException.kt
  src/main/kotlin/dev/realmkit/game/domain/base/exception/violation/BlankViolation.kt
  src/main/kotlin/dev/realmkit/game/domain/base/exception/violation/GenericViolation.kt
  src/main/kotlin/dev/realmkit/game/domain/base/exception/violation/Violation.kt
  src/main/kotlin/dev/realmkit/game/domain/base/extension/ValidationContext.kt
  src/main/kotlin/dev/realmkit/game/domain/base/extension/Validator.kt
  src/main/kotlin/dev/realmkit/game/domain/player/extension/PlayerValidator.kt
  src/main/kotlin/dev/realmkit/game/domain/player/service/PlayerService.kt
  src/main/kotlin/dev/realmkit/game/domain/stat/document/StatProgression.kt
  src/test/kotlin/dev/realmkit/game/app/GameTest.kt
  src/test/kotlin/dev/realmkit/game/domain/player/dto/PlayerResponseDtoTest.kt
  src/test/kotlin/dev/realmkit/game/domain/player/extension/PlayerExtensionsKtTest.kt
  src/test/kotlin/dev/realmkit/game/domain/player/repository/PlayerRepositoryTest.kt
  src/test/kotlin/dev/realmkit/game/domain/player/service/PlayerServiceTest.kt
  src/test/kotlin/dev/realmkit/game/domain/stat/dto/StatProgressionResponseDtoTest.kt
  src/test/kotlin/dev/realmkit/game/domain/stat/extension/StatExtensionsKtTest.kt
  src/test/kotlin/dev/realmkit/game/domain/stat/extension/StatProgressionExtensionsKtTest.kt
  src/test/kotlin/dev/realmkit/hellper/spec/TestSpec.kt
Labels: repo

feature: PlayerValidator
  build.gradle.kts
  gradle/libs.versions.toml
  src/main/kotlin/dev/realmkit/game/app/GameServiceApplication.kt
  src/main/kotlin/dev/realmkit/game/core/exception/ValidationException.kt
  src/main/kotlin/dev/realmkit/game/core/extension/InstantExtensions.kt
  src/main/kotlin/dev/realmkit/game/core/extension/ValidationExtensions.kt
  src/main/kotlin/dev/realmkit/game/domain/base/document/BaseDocument.kt
  src/main/kotlin/dev/realmkit/game/domain/base/exception/problem/ProblemException.kt
  src/main/kotlin/dev/realmkit/game/domain/base/exception/violation/GenericViolation.kt
  src/main/kotlin/dev/realmkit/game/domain/base/extension/MongoRepositoryExtensions.kt
  src/main/kotlin/dev/realmkit/game/domain/base/extension/ValidationContext.kt
  src/main/kotlin/dev/realmkit/game/domain/base/extension/Validator.kt
  src/main/kotlin/dev/realmkit/game/domain/player/document/Player.kt
  src/main/kotlin/dev/realmkit/game/domain/player/extension/PlayerValidator.kt
  src/main/kotlin/dev/realmkit/game/domain/player/service/PlayerService.kt
  src/main/kotlin/dev/realmkit/game/domain/stat/document/Stat.kt
  src/main/kotlin/dev/realmkit/game/domain/stat/document/StatProgression.kt
  src/main/kotlin/dev/realmkit/game/domain/stat/dto/StatResponseDto.kt
  src/main/kotlin/dev/realmkit/game/domain/stat/extension/StatProgressionValidator.kt
  src/main/kotlin/dev/realmkit/game/domain/stat/extension/StatValidator.kt
  src/test/kotlin/dev/realmkit/game/app/GameTest.kt
  src/test/kotlin/dev/realmkit/game/core/extension/InstantExtensionsKtTest.kt
  src/test/kotlin/dev/realmkit/game/domain/player/document/PlayerTest.kt
  src/test/kotlin/dev/realmkit/game/domain/player/repository/PlayerRepositoryTest.kt
  src/test/kotlin/dev/realmkit/game/domain/player/service/PlayerServiceTest.kt
  src/test/kotlin/dev/realmkit/hellper/extension/AssertionExtensions.kt
  src/test/kotlin/dev/realmkit/hellper/extension/FakerExtensions.kt
  src/test/kotlin/dev/realmkit/hellper/fixture/player/PlayerFixture.kt
  src/test/kotlin/dev/realmkit/hellper/fixture/stat/StatProgressionFixture.kt
Labels: repo, @service/app

feature: PlayerValidator
  build.gradle.kts
  gradle/libs.versions.toml
  src/main/kotlin/dev/realmkit/game/domain/player/document/Player.kt
  src/main/kotlin/dev/realmkit/game/domain/stat/document/Stat.kt
  src/main/kotlin/dev/realmkit/game/domain/stat/document/StatProgression.kt
Labels: repo

feature: PlayerValidator
  src/test/kotlin/dev/realmkit/game/domain/base/document/BaseDocumentTest.kt
Labels: none

.github/labeler.yml:

# ALL
repo:
  - '*'

# SOURCE
'@service/core':
  - any: ['src/main/kotlin/dev/realmkit/game/core/*']

'@service/domain':
  - any: ['src/main/kotlin/dev/realmkit/game/domain/*']

'@service/app':
  - any: ['src/main/kotlin/dev/realmkit/game/app/*']

# TESTING
'@test/test':
  - any: ['src/test/kotlin/*']

'@test/itest':
  - any: ['src/test/kotlin/*']

# DOCS
'@doc':
  - any: ['**/*.md', '*.md']

# CI
'@ci':
  - any: ['*.yml', '.github/*']

# DEPENDENCIES
'@deps':
  - any: ['*.kts', 'gradle/*']
